.footer {
    width: 100%;
    height: 400px;
    background-color: #3d3d3d;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.thing-footer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.principal-footer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.all-footer {
    display: flex;
    flex-direction: column;
}

.principal-footer-h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.principal-footer-p {
    color: white;
    font-size: 16px;
    font-weight: 100;
}

.thing-footer-h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.thing-footer-a {
    color: white;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}

.thing-footer-a:hover {
    text-decoration: underline;
}

.all-footer-h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.all-footer-a {
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
}

.all-footer-a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 850px) {
    .footer {
        width: 100%;
        height: auto;
        background-color: #3d3d3d;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
}
  