.footer {
	background-color: black;
	width: 100%;
	height: auto;
	color: white;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	/* position: fixed;
	left: 0px;
	bottom: 0px; */
}

.footer > * {
	text-align: center;
}
.title-section {
	font-size: 2rem;
	font-family: Roboto;
	font-weight: 600;
}
.title-app {
	/* font-size:1rem; */
}
.link {
	text-decoration: none;
	font-size: 16px;
	color: white;
	padding: 0.5rem 0;
}
.link-language {
	background-color: white;
	color: black;
	padding: 0.5rem;
}

.app-links {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
}
.app-links .link {
	background-color: #6c4494;
	font-family: Roboto;
    align-items:center;

}

.links-section {
	display: flex;
	flex-direction: column;
}

.copyright {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    line-height:2rem;
}
.icon {
	margin-right: 0.3rem;
}
.btn-store {
	padding: 0.5rem;
}
.language-link{
    background-color:white;
    color:black;
    padding:0.5rem;

}


@media (min-width: 740px) {
	.footer-links {
		display: flex;
		column-gap: 2rem;
		justify-content: space-between;
	}
    .link{
        font-size:0.8rem;

    }
	.copyright {
		padding-top: 1rem;
        flex-direction: row;

		justify-content: space-between;
		column-gap: 2rem;
	}
	.copyright > * {
		width: 25%;
		text-align: center;

	}
	.footer > * {
		text-align: left;
	}
	.app-links {
		display: flex;
		justify-content: space-between;
		column-gap: 2rem;
	}
	.footer-links > * {
		width: 25%;
	}
	.title-section {
		text-align: left;
		font-size: 1.5rem;
	}
    
}
