.search-general {
  margin-top: 0;
  padding-top: 108px;
}

.search-h1 {
  color: white;
  font-size: 48px;
  font-weight: 100;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

@media (max-width: 1250px) {
  .search-general {
    margin-top: 0;
    padding-top: 108px;
  }

  .search-h1 {
    color: white;
    font-size: 22px;
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }
}
