.background-navbar {
	background-color: rgb(0, 0, 0) !important;
}
.login-total {
	height: 108px;
}
.title-page {
	background-color: rgba(0, 0, 0, 0.88);
	text-align: center;
	color: white;
	padding: 20px;
	margin: 0;
	font-size: 22px;
	font-weight: 400;
}
.logo-app {
	margin: 20px auto;
	display: block;
	height: 50px;
}
.upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
}
.image-upload {
	height: 90px;
	width: 90px;
	margin-bottom: 20px;
}
.input-upload {
	position: relative;
	display: inline-block;
}
.input-upload::before {
	background-color: #6c4494;
	font-size: 400;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	content: "Seleccionar"; /* testo por defecto */
	/* padding:10px 50px; */
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.input-upload input[type="file"] {
	opacity: 0;
	width: 200px;
	height: 32px;
	display: inline-block;
}
.input-upload input[type="file"] {
	opacity: 0;
	width: 200px;
	height: 32px;
	display: inline-block;
}
#formulario_uploadPhoto::before {
	content: "Desde el dispositivo";
}


.data-image {
	display: flex;
	padding: 0 200px;
	column-gap: 50px;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	min-height: 500px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.img-primary {
	width: 50%;
	max-width: 100%;
	max-height: 400px;
	object-fit: contain;
}
.input-form {
	width: 50%;
	max-width: 100%;
	height: 400px;
	max-height: 400px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.input-title {
	width: 100%;
	padding: 10px;
	height: 61px;
	line-height: 24px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}
.input-price {
	height: 61px;
	width: 50%;
	padding: 10px;
	border: 2px solid #6c4494;
	color: black;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}
.input-description {
	width: 100%;
	height: 150px;
	outline: none;
	resize: none;
	font-family: Roboto;
	padding: 10px;
	line-height: 24.2px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}
.prices-category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 15px;
}
.input-submit{
  background-color: #6c4494;
  height: 61px;
	width: 50%;
	padding: 10px;
	border: 2px solid #6c4494;
	color: white;
  border-radius:40px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
  display:flex;
  justify-content:center;
  column-gap:10px;
  align-items:center;
}
.icon-submit{
  height:25px;
  width:25px;
}
